body {
  margin-top: 1em;
  margin-left: 2em;
}

.heading {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

h1 {
  font-size: xx-large;
  margin-bottom: 0.2em;
}

.subtitle {
  font-size: large;
  font-style: italic;
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

form {
  margin-top: 2em;
  margin-left: 2em;
}

#upload-button {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
}

#upgrade-failed {
  margin-top: 1em;
  color: #FF4136;
}

.hidden {
  display: none;
}
