body {
  margin-top: 1em;
  margin-left: 2em;
}

.heading {
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

h1 {
  font-size: xx-large;
  margin-bottom: 0.2em;
}

.subtitle {
  font-size: large;
  font-style: italic;
  margin-bottom: 1em;
}

div {
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}
