@import url(chrome://global/skin/);

#new-button {
  list-style-image: url("chrome://updatescan/skin/document-new.png");
}
#newtab-button {
  list-style-image: url("chrome://updatescan/skin/tab-new.png");
}
#checked-button {
  list-style-image: url("chrome://updatescan/skin/document-checked.png");
}
#delete-button {
  list-style-image: url("chrome://updatescan/skin/edit-delete.png");
}
#settings-button {
  list-style-image: url("chrome://updatescan/skin/preferences-system_sm.png");
}
#help-button {
  list-style-image: url("chrome://updatescan/skin/help-browser.png");
}
#scan-button {
  list-style-image: url("chrome://updatescan/skin/updatescan.png");
}

#updatescan-bookmarks-view treechildren::-moz-tree-cell-text(usc_state_updated) {
  font-weight: bold;
}
#updatescan-bookmarks-view treechildren::-moz-tree-cell-text(usc_state_error) {
  color: darkgrey;
}
