
#loading-text {
  margin:  3em auto 0.5em auto;
  width:  200px;
  font:  Icon;
  white-space:  nowrap
}

#loading-progress-meter {
  margin:    0 auto 3em auto;
  width:    200px;
  display:  none;
}

body.loading #loading-progress-meter {
  display:  block;
}

body.error #loading-text {
  background-image:    url("icon/error.gif");
  background-repeat:    no-repeat;
  background-position:  left center;
  padding-left:      20px;
}
