@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* #tools-updatescan-button { */
  /* list-style-image: url("chrome://updatescan/skin/updatescan.png"); */
/* } */

/* toolbar[iconsize="small"] #tools-updatescan-button { */
  /* list-style-image: url("chrome://updatescan/skin/updatescan_sm.png"); */
/* } */

#tools-updatescan-button > .toolbarbutton-icon {
  margin: 0px !important;
  width: auto !important;
  height: auto !important;
}

#tools-updatescan-button[status="NO_CHANGE"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-grey-18x18.png");
}

#tools-updatescan-button[status="CHANGE"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-18x18.png");
}

#tools-updatescan-button[status="NO_CHANGE_DISABLED"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-grey-dis-18x18.png");
}

#tools-updatescan-button[status="CHANGE_DISABLED"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-dis-18x18.png");
}
