/node_modules/
/dist/
/coverage/
.build_settings.json*
/src/dependencies/
/test/dependencies/
/src/.web-extension-id
.vscode/
.DS_Store
**/.pytest_cache
**/__pycache__
/test/functional/.python-version
/test/functional/regions/screenshots/
