#set global $_stylesheet = "prosimii-screen-sidebar.css"
#set global $_title = "Update Scanner %s" %($_sidebar)
#set global $_thisPage = "help-sidebar"
#set global $_helpPage = "true"
#include "content/_header.tmpl"

    <div id="content">
      <h1>$_sidebar</h1>
      <img class="preview" src="$_img.sidebar_context"/><br/>

      <h4>$scan <img src="$_img.button_scan"/></h4>
      <p>
         $scanDesc
      </p>
      <h4>$newBookmark <img src="$_img.button_new"/></h4>
      <p>
         $newBookmarkDesc
      </p>
      <h4>$showChanges</h4>
      <p>
         $showChangesDesc
      </p>   
      <h4>$newTab</h4>
      <p>
         $newTabDesc
      </p>
      <h4>$scanThisPage</h4>
      <p>
         $scanThisPageDesc
      </p>
      <h4>$delete <img src="$_img.button_delete"/></h4>
      <p>
         $deleteDesc
      </p>
      <h4>$showAll <img src="$_img.button_newtabs"/></h4>
      <p>
         $showAllDesc
      </p>
      <h4>$markVisited</h4>
      <p>
         $markVisitedDesc
      </p>
      <h4>$properties</h4>
      <p>
         $propertiesDesc
      </p>
      <div class="prevnext">
        <table>
        <td class="prev"><a href="./help.html">&laquo; $_prev $_gettingStarted</a></td>
        <td class="next"><a href="./help-properties.html">$_next $_pageProperties &raquo;</a></td>
        </table>
      </div>
    </div>
#include "content/_footer.tmpl"
