#set global $_title = "Update Scanner %s" %($sourceCode)
#set global $_thisPage = "source"
#include "content/_header.tmpl"
    <div id="content">
      <h1>$sourceCode</h1>
      <p>$codeAccessed</p>

      <ul>
#set $hgWebInterface = $hgWebInterface.replace('{linkStart}','<a href="http://hg.mozdev.org/updatescanner/">')
#set $hgWebInterface = $hgWebInterface.replace('{linkEnd}','</a>')
      <li>$hgWebInterface</li>
      <li>$hgCheckOut
<pre>
hg clone https://hg.mozdev.org/updatescanner/
</pre>
      </li>
      </ul>
    </div>
#include "content/_footer.tmpl"
