html, body, #content {
  height: 100%;
}

#content {
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

#header {
  display: grid;
  grid-template-columns: auto minmax(30em, 1fr) auto;
  padding: 1em;
  border-bottom: #d4d4d4 solid 1px;
  background-color: #fbfbfb;
}

#icon {
  height: 48px;
  width: 48px;
  margin-top: 3px;
  margin-right: 15px;
  background-image: url('/images/updatescanner_48.png');
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-size: x-large;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#subtitle {
  color: #595959;
}

#menu-container {
  float: right;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#menuButton {
  height: 24px;
  width: 24px;
  margin: 0px;
  background-image: url('/images/options.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

/* Menu content, hidden by default */
.menu-content {
  display: none;
  position: absolute;
  padding: inherit;
  width: 164px;
  margin-left: -140px;
  margin-top: 2px;
  background-color: #fbfbfb;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-content li {
  padding: 5px 15px;
  display: block;
}

.menu-content li:hover {
  background-color: #e3e3e3;
}

#view-dropdown {
  margin-top: 5px;
}


.frame {
  width: 100%;
  height: 100%;
  border: 0;
}

dialog {
  padding: 1em;
  width: 32em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog::backdrop { /* native */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

dialog + .backdrop { /* polyfill */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
}

form h1 {
  margin-bottom: 1em;
  margin-left: 0.2em;
}

fieldset {
  border: none;
  margin-left: 0.5em;
  margin-bottom: 0,5em;
}

fieldset div {
  margin-top: 0.5em;
  margin-left: 1em;
}

.slider {
  padding-left: 0.5em;
  display: flex;
}

legend {
  font-size: larger;
}

label {
  display: flex;
  margin-bottom: 12px;
  font-size: larger;
}

label span {
  display: inline-block;
  width  : 2.5em;
  text-align: right;
  margin-right: 6px;
}

.checkbox-label {
  display: inline-block;
  font-size: inherit;
  vertical-align: top;
}

input {
  flex-grow: 1;
}

.range-label-min {
  display: inline-block;
  margin-top: 3px;
  text-align: right;
  font-size: smaller;
}

.range-label-max {
  margin-top: 3px;
  font-size: smaller;
}

output {
  display: block;
  text-align: center;
  font-size: smaller;
  min-height: 1.5em;
}

#dialog-buttons {
  float: right;
  margin-right: 0.5em;
}

form button.browser-style {
  min-width: 5em;
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}
