html, body {
  height: 100%;
  margin: 0;
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  overflow-y: auto;
}

#main {
  position: relative;
  margin-left: 250px;
  border-left: solid 2px lightgrey;
  height: 100%;
  overflow-y: hidden;
}

#header {
  padding: 1em;
  border-bottom: #d3d3d3 solid 1px;
  background-color: #fbfbfb;
}

#header > div {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#icon {
  height: 48px;
  width: 48px;
  margin-right: 10px;
  background-image: url('/images/updatescanner_48.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#subtitle {
  color: #595959;
}

#menuButton {
  height: 24px;
  width: 24px;
  float: right;
  background-image: url('/images/options.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#frameContainer {
  height: 100%;
}

#frame {
  width: 100%;
  height: 100%;
  border: 0;
}
