html, body {
  height: 100%;
  margin: 0;
}

#main {
  /* Don't scroll main, just the internal frame */
  /* @TODO: need to do something similar for x */
  overflow-y: hidden;
}

#header {
  padding: 1em;
  border-bottom: #d4d4d4 solid 1px;
  background-color: #fbfbfb;
}

/* Horizontal placement of icon and title/subtitle */
#header > div {
  display: inline-block;
  vertical-align: top;
}

#icon {
  height: 48px;
  width: 48px;
  margin-top: 5px;
  margin-right: 10px;
  background-image: url('/images/updatescanner_48.png');
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  /* Place menu button beside the title */
  display: inline-block;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#menuButton {
  height: 24px;
  width: 24px;
  background-image: url('/images/options.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

/* Menu content, hidden by default */
.menu-content {
  display: none;
  position: absolute;
  padding: inherit;
  margin: inherit;
  margin-top: 2px;
  background-color: #fbfbfb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-content li {
  padding: 5px 15px;
  display: block;
}

.menu-content li:hover {
  background-color: #e3e3e3;
}

#subtitle {
  color: #595959;
}

#view-dropdown {
  float: right;
  margin-top: 30px;
}

#frameContainer {
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  border: 0;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
  margin: 10% auto; /* centered, near the top*/
  background-color: #fbfbfb;
  border: 1px solid #808080;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Class used to show modal elements */
.show {
  display: block;
}
