html * {
  -moz-box-sizing: border-box;
}

html {
  line-height: 1.3;
  background-color: #FFF;
}

body {
  margin: 0px;
  color: #222;
  font-family: Verdana, Sans-Serif;
}

a:link    { text-decoration: none; color: #436976; font-weight: bold; }
a:visited  { text-decoration: none;  color: #537986; }
a:hover    { text-decoration: underline; }
a:active  { text-decoration: none; }

p.item-desc a:link { color: #029; }

#rss-header {
  background-color: #dee7ec;
  border: 1px solid #8cacbb;
  padding: 6px 8px;
  margin: 10px 2%;
}

#rss-title {
  font-size: large;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

#rss-desc {
  font-size: small;
  margin: 0px;
  padding: 5px 0px 0px 20px;
}

#rss-footer {
  clear: both;
  font-size: x-small;
  padding: 6px 8px;
  margin: 10px 2%;
  text-align: center;
}

#rss-copyright {
}

#rss-generator {
  display: none;
}

#rss-logo {
  float: right;
}

div.item {
  border: 1px solid #8cacbb;
  width: 47%;
  min-width: 14em;
  margin: 0px 0px 8px 2%;
  padding: 0px;
  float: left;
  overflow: hidden;
}

h2.item-title {
  background-color: #dee7ec;
  font-size: x-small;
  font-weight: normal;
  line-height: 1.1;
  margin: 0px;
  padding: 5px 5px 8px 8px;
}

span.item-ordinal {
  padding-right: 0.2em;
}

div.item-desc {
  min-height: 6em;
  font-size: x-small;
  margin: 0px;
  padding: 8px 10px;
}

div.item-desc.text {
  white-space: pre-wrap;
}

div.item-desc table {
  font-size: x-small;
}

div.item-pubDate {
  font-size: x-small;
  margin: 0px;
  padding: 8px 10px;
  float: left;
}

div.item-enclosure {
  font-size: x-small;
  margin: 0px;
  padding: 8px 10px;
  width: 80%;
  clear: left;
  float: left;
}

.item-enclosure img {
  vertical-align: middle;
  border:  0;
  margin-right: 5px;
}

div.item-author {
  font-size: x-small;
  margin: 0px;
  padding: 8px 10px;
  float: right;
}

img {
  max-width: 100%;
  height: auto;
}
