html body {
  width: 20em;
  overflow: hidden;
}

.panel-section-list {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.15);
  min-height: 10em;
}

.panel-list-empty {
  display: none;
  color: #999;
  text-align: center;
  padding: 24px 16px;
}

.panel-list-content {
  background-color: rgba(255, 255, 255, 1);
}

.panel-list-item > .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-section-header {
  background-image: url('/images/updatescanner_32.png');
}

.panel-section-footer {
  height: auto;
  min-height: 41px;
}

.footer-button-icon {
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
}

#new-button > .footer-button-icon {
  background-image: url('/images/new_32.png');
}

#sidebar-button > .footer-button-icon {
  background-image: url('/images/sidebar_32.png');
}

#menu-button > .footer-button-icon {
  background-image: url('/images/help_32.png');
}

.footer-button-text {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.hidden {
  display: none;
}

#menu-container {
  float: right;
  position: relative;
}

.menu-content {
  position: absolute;
  width: 10em;
  margin-left: -10em;
  margin-block-end: inherit;
  padding: inherit;
  background-color: #fbfbfb;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 100%;
}

.menu-content li {
  padding: 5px 15px;
  display: block;
}

.menu-content li:hover {
  background-color: #e3e3e3;
}
