#set global $_title = "Update Scanner %s" %($bugReports)
#set global $_thisPage = "bugReports"
#include "content/_header.tmpl"
    <div id="content">
      <h1>$bugReports</h1>

#set $followingSteps2 = $followingSteps2.replace('{linkStart}','<a href="http://updatescanner.mozdev.org/drupal/forum/4">')
#set $followingSteps2 = $followingSteps2.replace('{linkEnd}','</a>')

#set $forumPage = $forumPage.replace('{linkStart}','<a href="http://updatescanner.mozdev.org/drupal/forum/4">')
#set $forumPage = $forumPage.replace('{linkEnd}','</a>')

#set $newProfile = $newProfile.replace('{linkStart}','<a href="http://www.mozilla.org/support/firefox/profile">')
#set $newProfile = $newProfile.replace('{linkEnd}','</a>')

## For the Italian translation, Almotasim has provided links to profile help in italian:
#set $newProfile = $newProfile.replace('{it_link1}','<a href="http://forum.mozillaitalia.org/index.php?topic=5375.0">')
#set $newProfile = $newProfile.replace('{it_link2}','<a href="http://www.mozillaitalia.it/firefox/edit.html#profile">')

      <p>$followingSteps2</p>
   
      <ul>
      <li>$forumPage</li>
      <li>$errorConsole2</li>
      <li>$disableExtensions</li>
      <li>$newProfile</li>
      </ul>


      <p>$carefullyDescribe2</p>
      <ul>
      <li>$detailedDescription</li>
      <li>$screenshots</li>
      <li>$recreateProblem</li>
      <li>$whatHappens</li>
      <li>$whatExpected</li>
      <li>$oneWebsite2</li>
      <li>$firefoxVersion</li>
      </ul>
      
      <h1>$bugzilla</h1>
      <p>$useBugzilla</p>
      <ul>
#set $newBug = $newBug.replace('{linkStart}','<a href="http://bugzilla.mozdev.org/enter_bug.cgi?product=updatescanner">')
#set $newBug = $newBug.replace('{linkEnd}','</a>')
#set $viewAll = $viewAll.replace('{linkStart}','<a href="http://bugzilla.mozdev.org/buglist.cgi?product=updatescanner">')
#set $viewAll = $viewAll.replace('{linkEnd}','</a>')
#set $openBugs = $openBugs.replace('{linkStart}','<a href="http://bugzilla.mozdev.org/buglist.cgi?bug_status=UNCONFIRMED&amp;bug_status=NEW&amp;bug_status=ASSIGNED&amp;bug_status=REOPENED&amp;emailtype1=substring&amp;emailassigned_to1=1&amp;emailtype2=substring&amp;emailreporter2=1&amp;bugidtype=include&amp;chfieldto=Now&amp;product=updatescanner&amp;short_desc_type=allwordssubstr&amp;long_desc_type=allwordssubstr&amp;bug_file_loc_type=allwordssubstr&amp;field0-0-0=noop&amp;type0-0-0=noop&amp;cmdtype=doit&amp;order=Bug+Number">')
#set $openBugs = $openBugs.replace('{linkEnd}','</a>')
      <li>$newBug</li>
      <li>$viewAll</li>
      <li>$openBugs</li>
      <li><form action="http://bugzilla.mozdev.org/show_bug.cgi" method="get">
          $searchByNumber
          <input size="6" name="id">
          <input type="submit" value="$search">
        </form>
      </li>
      </ul>
    </div>
#include "content/_footer.tmpl"
