#set global $_stylesheet = "prosimii-screen-sidebar.css"
#set global $_title = "Update Scanner %s" %($_preferences)
#set global $_thisPage = "help-preferences"
#set global $_helpPage = "true"
#include "content/_header.tmpl"

    <div id="content">
      <h1>$notificationPrefs</h1>
      <img class="preview" src="$_img.pref_notifications"/><br/>

      <h4>$showPopup</h4>
      <p>$showPopupDesc</p>

      <h4>$playSound</h4>
      <p>$playSoundDesc</p>
 
      <br/>
      <h1>$scanningPrefs</h1>
      <img class="preview" src="$_img.pref_scanning"/>

      <h4>$selectMethod</h4>
      <p>$selectMethodDesc</p>

      <h4>$scanTimeout</h4>
      <p>$scanTimeoutDesc
         $scanTimeoutDesc2</p>

      <br/>
      <h1>$toolbarPrefs</h1>
      <img class="preview" src="$_img.pref_toolbar"/><br/>

      <h4>$toolbarIcons</h4>
      <p>$toolbarIconsPrefs</p>

      <div class="prevnext">
        <table>
        <td class="prev"><a href="./help-properties.html">&laquo; $_prev $_pageProperties</a></td>
        <td class="next"><a href="./help-statusbar.html">$_next $_statusbar &raquo;</a></td>
        </table>
      </div>
    </div>
#include "content/_footer.tmpl"