#set global $_title = "Update Scanner %s" %($pageNotFound)
#set global $_thisPage = "notFound"
#set global $_linkPrefix = "/en" ## Force header links to point to english page
#include "content/_header.tmpl"
    <div id="content">
      <h1>$pageNotFound</h1>

      <p>$requestedPageNotFound</p>
#set $checkMainPage = $checkMainPage.replace('{linkStart}','<a href="/en/index.html">')
#set $checkMainPage = $checkMainPage.replace('{linkEnd}','</a>')
      <p>$checkMainPage</p>
#set $sendEmail = $sendEmail.replace('{emailAddress}','<b>updatescanner</b> at <b>gmail</b> dot <b>com</b>')
      <p>$sendEmail</p>
    </div>
#include "content/_footer.tmpl"