#set global $_stylesheet = "prosimii-screen-sidebar.css"
#set global $_title = "Update Scanner %s" %($_pageProperties)
#set global $_thisPage = "help-properties"
#set global $_helpPage = "true"
#include "content/_header.tmpl"

    <div id="content">
      <h1>$_pageProperties</h1>
      <img class="preview" src="$_img.properties_dialog"/><br/>

      <h4>$title</h4>
        <p>$enterName</p>
      
      <h4>$url</h4>
        <p>$enterURL</p>
        
      <h4>$autoscan</h4>
        <p>$howOften</p>
        
      <h4>$changeThreshold</h4>
        <p>$howMuchChange</p>
      
      <h4>$ignoreNumbers</h4>
        <p>$numbersWontCause</p>
        
      <h4>$charEncoding</h4>
        <p>$autoDetect</br>
        $selectManually</p>
 
      <div class="prevnext">
        <table>
        <td class="prev"><a href="./help-sidebar.html">&laquo; $_prev $_sidebar</a></td>
        <td class="next"><a href="./help-preferences.html">$_next $_preferences &raquo;</a></td>
        </table>
      </div>
    </div>
#include "content/_footer.tmpl"