#set global $_title = "Update Scanner"
#set global $_thisPage = "home"
#include "content/_header.tmpl"


    <p>$extensionDescription</p> 
    <h2>$quickStart</h2>
    <ul>
#set $install = $install.replace('{linkStart}','<a href="https://addons.mozilla.org/firefox/addon/3362">')
#set $install = $install.replace('{linkEnd}','</a>')
    <li>$install</li>
    <li>$rightClick</li>
    <li>$chooseOptions</li>
    <li>$notification</li>
    <li>$highlightChanges</li>
    </ul>       

<!--
Stuff to add to right hand column:



<div class="oneThird">
          <h1>$latestNews</h1>

          <a href="/drupal/" class="newsHeading">
             Beta available for testing</a>
          <p class="newsDate">2 March 2008</p>

          <a href="https://addons.mozilla.org/firefox/addon/3362" class="newsHeading">
             v2.0.15 released</a>
          <p class="newsDate">5 November 2007</p>

          <span class="newsHeading">New website</span>
          <p class="newsDate">22 September 2007</p>

          <p/>
          <img src="$_img.notification_popup"/>


-->


#include "content/_footer.tmpl"
