#set global $_title = "Update Scanner"
#set global $_thisPage = "home"
#include "content/_header.tmpl"

    <p>$extensionDescription</p> 


    <div style="border-width: 2px; border-style: solid; border-color: red;">
    <h2>Forum Problems</h2>
    <p>Forums are currently read-only.<br/>
    The volunteers at Mozdev (our hosts) are aware of this and currently working to get things up and running again.<br/>
    Sorry for the inconvenience, and thanks for your patience.</p>
    <p>Pete</p>
    </div>


    <h2>$quickStart</h2>
    <ul>
#set $install = $install.replace('{linkStart}','<a href="https://addons.mozilla.org/firefox/addon/3362">')
#set $install = $install.replace('{linkEnd}','</a>')
    <li>$install</li>
    <li>$rightClick</li>
    <li>$chooseOptions</li>
    <li>$notification</li>
    <li>$highlightChanges</li>
    </ul>       


#include "content/_footer.tmpl"
