#set global $_title = "Update Scanner"
#set global $_thisPage = "home"
#include "content/_header.tmpl"


    <p>$extensionDescription</p> 
    <h2>$quickStart</h2>
    <ul>
#set $install = $install.replace('{linkStart}','<a href="https://addons.mozilla.org/firefox/addon/3362">')
#set $install = $install.replace('{linkEnd}','</a>')
    <li>$install</li>
    <li>$rightClick</li>
    <li>$chooseOptions</li>
    <li>$notification</li>
    <li>$highlightChanges</li>
    </ul>       


#include "content/_footer.tmpl"
