/* Linux-specific Toolbar Icons */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Use dedicated 24x24 and 18x18 icons */

#tools-updatescan-button
{
    list-style-image: url("chrome://updatescan/skin/updatescan-grey-24x24.png");
}

#tools-updatescan-button[status="CHANGE"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-24x24.png");
}

#tools-updatescan-button[status="NO_CHANGE_DISABLED"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-grey-dis-24x24.png");
}

#tools-updatescan-button[status="CHANGE_DISABLED"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-dis-24x24.png");
}

toolbar[iconsize="small"] #tools-updatescan-button
{
    list-style-image: url("chrome://updatescan/skin/updatescan-grey-18x18.png");
}

toolbar[iconsize="small"] #tools-updatescan-button[status="CHANGE"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-18x18.png");
}

toolbar[iconsize="small"] #tools-updatescan-button[status="NO_CHANGE_DISABLED"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-grey-dis-18x18.png");
}

toolbar[iconsize="small"] #tools-updatescan-button[status="CHANGE_DISABLED"]
{
    list-style-image: url("chrome://updatescan/skin/updatescan-dis-18x18.png");
}
