<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Update Scanner : Firefox addon to monitor web pages for updates. Useful for websites that don&#39;t provide Atom or RSS feeds.">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{  page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://addons.mozilla.org/firefox/addon/update-scanner/">Install</a>

          <h1 id="project_title"><a href="index.html">{{ site.name }}</a></h1>
          <h2 id="project_tagline">Firefox addon to monitor web pages for updates</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}

      <hr>

      {% if page.previous %}
      <p class="previous"><a href="{{ page.previous_url }}">&lt;&lt; Previous: {{ page.previous }}</a></p>
      {% endif %}
      {% if page.next %}
      <p class="next"><a href="{{ page.next_url }}">Next: {{ page.next }} &gt;&gt;</a></p>
      </section>
      {% endif %}
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright"><a href="https://github.com/sneakypete81/updatescanner">Fork on GitHub</p>
      </footer>
    </div>

  </body>
</html>
